<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'WGBalance/milligram.min.css' %}">
</head>
<body>
    <h1>WGBalance</h1>
    {% block content %}
    {% endblock %}
    <a href="/admin"> Admin Login</a>
</body>
</html>